//Registration Flow

.inputFormGroup {
  position: relative;
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  span, i {
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
    color: #000;
  }
  .form-control, .form-select, textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    min-height: 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 4px;
  }
}
.forgotPassword {
  a {
    font-weight: bold;
    font-size: 12px;
  }
}
.formBasement {
  p {
    color: #000;
    font-size: 12px;
    a {
      font-weight: bold;
    }
  }
}
.registerScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //background: #c3c3c3;
  .registerBox {
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    background: #fff;
    .registerLeftPanel {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
.formWrapper {
  .formHead {
    text-align: center;
    margin-bottom: 20px;
    h2.formTitle {
      color: #000;
    }
    p {
      margin: 0;
      color: #192031;
      font-weight: 500;
    }
  }
  .formBody {

  }
  .formFooter {

  }
  .formBasement {
    margin-top: 15px;
    text-align: center;
  }
}

//Registration Flow End
